/*1- BREAKPOINT  - 1030px */
@media (max-width: 1030px) {
  .logo {
    height: 3.5rem;
  }
  .menu-nav-list {
    gap: 2.2rem;
  }
  .menu-nav-link {
    font-weight: 500;
    font-size: 1.4rem;
  }
  #bigger-font {
    font-size: 2.8rem;
  }
  .feedback-from-person {
    font-size: 1.2rem;
  }
  .feedback-person-name {
    font-size: 1.3rem;
  }
  .process {
    height: 6rem;
    font-size: large;
  }
  .circle {
    height: 2rem;
    width: 2rem;
  }
  .email-icon {
    font-size: large;
  }
  .email-id {
    font-size: large;
  }
}
/*2-BREAKPOINT - 930px */
@media (max-width: 930px) {
  .section-about .container {
    grid-template-columns: 1fr;
  }

  img.about-gif {
    margin: auto;
  }
  .about-gif {
    width: 55%;
  }
  .section-projects .container {
    grid-template-columns: 1fr;
  }
  .section-testimonials .container {
    grid-template-columns: 1fr;
  }
  .section-contact-us .container {
    grid-template-columns: 1fr;
  }
  .footer-box {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .project-div {
    margin: 1.4rem auto;
    width: 75%;
  }
  #button-view-ckmExplorer,
  #button-view-saiAccessories,
  #button-view-healthyrise {
    margin: 2rem auto;
  }
}
/* 3rd Break Point */
@media (max-width: 430px) {
  .project-div {
    margin: 5px auto;
    border-style: 2px solid gold;
    border-radius: 5px;
  }
  .feedback-box {
    padding: 16px;
  }
  .form {
    width: 10rem;
  }

  .project-div img {
    border-radius: 0px;
  }
  .section-projects .container {
    border-style: none;
  }
  body {
    background-color: black;
  }
  .heading-of-about,
  .heading-of-projects,
  .heading-of-testimonials,
  .heading-of-contact-us {
    color: #fbb9fb;
  }
  .section-testimonials .container {
    border-style: none;
  }
  .testmonial-box {
    margin: 1rem auto;
  }
  h1#bigger-font {
    font-size: xx-large;
  }
}
/* 4th breakpoint */
@media (max-width: 288px) {
  header,
  .section-about .container,
  .section-contact-us .container,
  .footer-box {
    border: unset;
  }
}
/* FIND MOBILE NAVIGATION RESPONSIVENESS in navigation.css */
