body {
  background-color: beige;
  font-family: "Franklin Gothic Medium" "Poppins", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}
/* HEADER */
.logo {
  height: 4.4rem;
}
nav.main-nav {
  margin: 1rem;
}

header {
  background-color: black;
  border: 2px solid gold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gold;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-nav-link {
  text-decoration: none;
  color: gold;
  font-weight: 500;
  font-size: 1.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(255, 189, 255);
}
/* ABOUT SECTION */
.section-about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-width: 130rem; */
  border: 2px solid gold;
  background-color: black;
}
.heading-of-about {
  color: black;
  font-size: xx-large;
  text-align: center;
}
.about-gif {
  width: 100%;
  /* background-color: black; */
  border-radius: 50px;
}
.about-text-box {
  text-align: center;
}
#bigger-font {
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.span-color-gold {
  color: goldenrod;
}
.medium-font {
  font-size: 1.4rem;
  font-weight: bolder;
}
.icons-list {
  list-style: none;
}
.icon {
  color: gold;
}
.image-text-box {
  text-align: center;
}
/* setting vertical space */
li:not(:last-child) {
  margin-bottom: 5px;
}
/* PROJECTS */
.section-projects .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid gold;
  /* max-width: 130rem; */
  background-color: black;
}
.heading-of-projects {
  color: black;
  font-size: xx-large;
  text-align: center;
}
.project-div {
  border: 2px solid plum;
  margin: 1.4rem;
  border-radius: 10px;
}
/* selecting the parent class of img */
.project-div img {
  width: 100%;
  border-radius: 10px;
}
#word-rise-purple {
  color: plum;
}
#word-ckm-green {
  color: greenyellow;
}
#word-sai-orange {
  color: orange;
}
.project-name {
  text-align: center;
}
.project-description {
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
}
/* BUTTON VIEW PROJECT HEALTHYRISE */
#project-link {
  text-align: center;
  display: block;
  text-decoration: none;
}

#button-view-healthyrise {
  background-color: black;
  color: plum;
  border: 2px solid plum;
  border-radius: 5px;
  margin: 2rem;
  height: 2rem;
  width: 10rem;
  font-size: large;
}
#button-view-healthyrise:hover {
  background-color: purple;
  color: white;
}
/* BUTTON VIEW PROJECT CHIKMAGALORE EXPLORER */

#button-view-ckmExplorer {
  background-color: black;
  color: greenyellow;
  border: 2px solid greenyellow;
  border-radius: 5px;
  margin: 2rem;
  height: 2rem;
  width: 10rem;
  font-size: large;
}
#button-view-ckmExplorer:hover {
  background-color: green;
  color: white;
}
/* BUTTON VIEW PROJECT SAI ACCESSORIES */

#button-view-saiAccessories {
  background-color: black;
  color: orange;
  border: 2px solid orange;
  border-radius: 5px;
  margin: 2rem;
  height: 2rem;
  width: 10rem;
  font-size: large;
}
#button-view-saiAccessories:hover {
  background-color: orangered;
  color: white;
}
/* TESTIMONIALS SECTION */

.section-testimonials .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid gold;
  padding: 2rem;
  background-color: black;
}
.testmonial-box {
  margin: 1rem;
  border: 2px solid plum;
  border-radius: 5px;
  position: relative;
}
.profile-picture-div {
  position: absolute;
  top: -5%;
  left: 45%;
}
.profile-picture {
  border-radius: 50%;
  border: 2px solid gold;
}
.feedback-box {
  padding: 3rem;
}
i.fa.fa-quote-left {
  color: gold;
}

i.fa.fa-quote-right {
  color: gold;
}
.feedback-person-name {
  color: gold;
  text-align: right;
  padding-right: 2rem;
  font-size: 1.5rem;
}
.feedback-from-person {
  font-size: 1.4rem;
}
.heading-of-testimonials {
  color: black;
  font-size: xx-large;
  text-align: center;
}
/* CONTACT US */
.heading-of-contact-us {
  color: black;
  font-size: xx-large;
  text-align: center;
}
.section-contact-us .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid gold;
  background-color: black;
}

.our-working-process-box {
  /* border: 2px solid plum; */
  margin: 1rem;
  border-radius: 5px;
}
.contact-form-box {
  border-radius: 5px;
  margin: auto;
}
.heading-of-working-process {
  text-align: center;
  font-size: xx-large;
  color: plum;
}
.steps-box {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.circle {
  /* background-color: plum; */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  /*  centering a child div horizontally,  under parent div(list-circle-and-rectangle-main-box ) */
  margin: 0 auto;
  border: 5px solid plum;
}
.rectangle {
  height: 4rem;
  width: 0.5rem;
  background-color: plum;
  /*  centering a child div horizontally,  under parent div(list-circle-and-rectangle-main-box ) */
  margin: 0 auto;
}

.process {
  height: 7rem;
  padding-left: 0.2rem;
  font-size: x-large;
  color: gold;
  /* margin-top: 0.8rem; */
}
.email-id-box {
  margin: 1.5rem;
  display: flex;
}
.email-id {
  color: plum;
  margin: auto 5px;
  font-size: x-large;
}
.email-icon {
  color: gold;
  font-size: xx-large;
}
.form {
  background-color: plum;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}
.form-element {
  border: 2px solid gold;
  border-radius: 5px;
  height: 1.5rem;
  background-color: rgb(255, 253, 242);
  margin-top: 1rem;
}
.textarea {
  /* margin: 2rem; */
  border: 2px solid gold;
  border-radius: 5px;
  background-color: rgb(255, 253, 242);
  margin-top: 1rem;
}
.contact-submit-button {
  background-color: gold;
  height: 2.5rem;
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: purple;
  /* margin: 2rem; */
  border-radius: 8px;
  border: 2px solid gold;
  margin-top: 1rem;
}
.contact-submit-button:hover {
  background-color: purple;
  color: gold;
  border: 2px solid purple;
}

/* FOOTER */

.footer-box {
  margin-top: 1rem;
  background-color: black;
  border: 2px solid gold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.color-gold {
  color: gold;
}
.copyright-text {
  font-size: large;
}
/* ------------------------------------------ */
/* vertically aligning span of # copyright  under parent div copyright-div */

/* PARENT DIV */
.copyright-div {
  display: table;
}
/* CHILD DIV */
#copyright {
  display: table-cell;
  vertical-align: middle;
}

/* PARENT DIV */
.full-form-of-hepthwap-div {
  display: table;
}
/* CHILD DIV */
.full-form-of-hepthwap {
  display: table-cell;
  vertical-align: middle;
}

/* PARENT DIV */
.logo-div {
  text-align: center;
  margin: auto 0;
}

img#footer-logo {
  height: 3rem !important;
}
/* ------------------------------------------ */

.color-plum {
  color: plum;
}
.hepth_wap {
  margin: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}

.social-media-links-div,
.copyright-div,
.full-form-of-hepthwap-div,
.logo-div {
  text-align: center;
}
