/* #sentence-transition {
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

section#about {
  transition: transform 4s, opacity 1s;
}
section#projects {
  transition: transform 10s, opacity 1s;
} */
